<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>

</head>
<body>
	<!-- HEADER -->
	<header th:fragment="header" th:class="header_section">

		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg custom_nav-container ">
				<a class="navbar-brand" href="/home"> <span> Light Novel
				</span>
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class=""> </span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					
					<th:block th:if="${session.user == null}">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" href="/home">Trang
								Chủ </a></li>
						<li class="nav-item active">
							<div class="dropdown">
								<button class="btn dropdown-toggle" type="button"
									id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
									<lable th:text="'SẢN PHẨM'"></lable>
								</button>

								<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
									<a class="dropdown-item"
										th:href="@{'/product?loaiTT_ID='+${item.loaiTT_ID}}"
										th:each="item : ${loaiTTs}" th:id="${item.loaiTT_ID}">[[${item.tenLoaiTT}]]</a>

								</div>
							</div>
						</li>
						<li class="nav-item"><a class="nav-link" href="#">
								Đơn Hàng </a></li>
						<li class="nav-item"><a class="nav-link" href="/sendEmail">Liên
								Hệ</a></li>
					</ul>
						<div class="user_option-box">
							<div class=" fa fa-user dropdown">
								<button class="btn dropdown-toggle" type="button"
									id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
									<lable > Hello</lable>
								</button>

								<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
									<a class="fa fa-user dropdown-item"
										 href="#">Tài
										khoản</a> <a class="fa fa-cog dropdown-item"
										href="#">Đổi
										mật khẩu</a> <a class="fa fa-sign-out dropdown-item" href="/login"
										data-feather="logout">Đăng nhập</a>
								</div>
							</div>
							<a href="#"> <i class="fa fa-cart-plus"
								aria-hidden="true"></i>
							</a> <a href=""> <i class="fa fa-search" aria-hidden="true"></i>
							</a>
						</div>
					</th:block>
					<th:block th:if="${session.user != null}">
						<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" href="/home">Trang
								Chủ </a></li>
						<li class="nav-item active">
							<div class="dropdown">
								<button class="btn dropdown-toggle" type="button"
									id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
									<lable th:text="'SẢN PHẨM'"></lable>
								</button>

								<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
									<a class="dropdown-item"
										th:href="@{'/product?loaiTT_ID='+${item.loaiTT_ID}}"
										th:each="item : ${loaiTTs}" th:id="${item.loaiTT_ID}">[[${item.tenLoaiTT}]]</a>

								</div>
							</div>
						</li>
						<li class="nav-item"><a class="nav-link" href="/order">
								Đơn Hàng </a></li>
						<li class="nav-item"><a class="nav-link" href="/sendEmail">Liên
								Hệ</a></li>
					</ul>
						<div class="user_option-box">
							<div class=" fa fa-user dropdown">
								<button class="btn dropdown-toggle" type="button"
									id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
									<lable th:text="'Hello '+${session.user.tenKH}"></lable>
								</button>

								<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
									<a class="fa fa-user dropdown-item"
										th:href="@{'user-edit?maKH='+${session.user.maKH}}">Tài
										khoản</a> <a class="fa fa-cog dropdown-item"
										th:href="@{'changepass-edit?maKH='+${session.user.maKH}}">Đổi
										mật khẩu</a> <a class="fa fa-sign-out dropdown-item" href="/login"
										data-feather="logout">Đăng xuất</a>
								</div>
							</div>
							<a href="/cart"> <i class="fa fa-cart-plus"
								aria-hidden="true"></i>
							</a> <a href=""> <i class="fa fa-search" aria-hidden="true"></i>
							</a>
						</div>
					</th:block>
				</div>
			</nav>
		</div>
	</header>


	<!-- /HEADER -->
</body>
</html>