<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head th:replace="common/admin/fragment::head('Danh sách sản phẩm')">
</head>

<body>
	<div id="app">
		<div th:replace="common/admin/fragment::menu"></div>

		<div id="main">
			<nav th:replace="common/admin/header::header"></nav>

			<div class="gap-sm"></div>

			<form action="/admin-category" method="get">
				<div class="info-product">
					<div class="container-fluid">
						<div class="row ">
							<div class="col-lg-12 col-md-12 ">
								<div class="card">
									<div class="alert alert-${alert}" th:if="${message}"
										role="alert">[[${message}]]</div>
									<div class="card-body">
										<div class="row row-margin-top">
											<div class="container-fluid">
												<ul class="nav nav-tabs" id="myTab" role="tablist">
													<li class="nav-item"><a class="nav-link active"
														id="home-tab" data-toggle="tab" href="#home" role="tab"
														aria-controls="home" aria-selected="true">Tất Cả</a></li>
													
													<li class="nav-item"><a class="nav-link"
														href="./admin-category-add">Thêm Loại Tiểu Thuyết</a></li>
												</ul>
												<div class="tab-content" id="myTabContent">
													<div class="tab-pane fade show active" id="home"
														role="tabpanel" aria-labelledby="home-tab">
														<div class="container-fluid">
															<div class="gap-sm"></div>
															<div class="row">
																<div class="col-12">
																	<section class="section">
																		<div class="card">
																			<!-- all product-tab -->
																			<div class="card-body">
																				<table class='table table-striped' id="table1">
																					<thead>
																						<tr>
																							<th>ID Danh Mục</th>
																							<th>Tên Danh Mục</th>
																							
																						</tr>
																					</thead>
																					<tbody>
																						<th:block th:each="cate : ${loaiTTs.pageList}">
																							<tr>
																								<td>[[${cate.loaiTT_ID}]]</td>
																								<td>[[${cate.tenLoaiTT}]]</td>
																								
																								 <td>
																									<a th:href="@{'admin-category-edit?loaiTT_ID='+${cate.loaiTT_ID}}" >
																										<button type="button"
																											class="btn btn-outline-success btn-sm">
																										<i class="ti-folder"></i>
																										</button>
																									</a>
																								</td>
																								 <td>
																									<a th:href="@{'admin-category-delete?loaiTT_ID='+${cate.loaiTT_ID}}">
																										<button type="button"
																											class="btn btn-outline-danger btn-sm">
																										<i class="ti-trash"></i>
																										</button>
																									</a>
																								</td>  
																							</tr>
																						</th:block>
																					</tbody>
																				</table>
																				 <div>
																					<ul class="pagination">
			<li
				th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'">
				<a class="page-link" th:href="@{/admin/admin-category}">First</a>
			</li>
			<li
				th:class="${currentIndex == 1}? 'page-item disabled': 'page-item' ">
				<a class="page-link" aria-label="Previous"
				th:href="@{|${baseUrl}${currentIndex - 1}|}"
				title='Go to previous page'><span aria-hidden="true">«</span>
					<span class="sr-only">Previous</span></a>
			</li>
			<li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
				th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
				<a class="page-link" th:href="@{|${baseUrl}${item}|}"> <span
					th:text='${item}'>1</span>
			</a>
			</li>
			<li
				th:class="${currentIndex == totalPageCount}? 'page-item disabled': 'page-item'">
				<a class="page-link" aria-label="Next"
				th:href="@{|${baseUrl}${currentIndex + 1}|}" title='Go to next page'><span
					aria-hidden="true">»</span> <span class="sr-only">Next</span></a>
			</li>
			<li
				th:class="${currentIndex == totalPageCount}? 'page-item disabled':'page-item'">
				<a class="page-link" th:href="@{|${baseUrl}${totalPageCount}|}">Last</a>
			</li>
		</ul>
																				</div> 
																			</div>
																		</div>
																	</section>
																</div>
															</div>
														</div>
													</div>
													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div th:replace="common/admin/fragment::script"></div>
</body>

</html>