<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head th:replace="common/admin/fragment::head('Danh sách đơn hàng')"></head>
<body>
	<div id="app">
		<!-- Menu -->
		<div th:replace="common/admin/fragment::menu"></div>
		<!--/ End Menu -->
		<div id="main">
			<!-- Header -->
			<nav th:replace="common/admin/header::header"></nav>
			<!--/ End Header -->


			<div class="gap-sm"></div>

			<form action="./admin-order" method="post">

				<div class="info-product">
					<div class="container-fluid">
						<div class="row ">
							<div class="col-lg-12 col-md-12 ">
								<div class="card">
									<div class="alert alert-${alert}" th:if="${message }"
										role="alert">[[${message}]]</div>
									<div class="card-body">
										<div class="row row-margin-top">
											<div class="container-fluid">
												<ul class="nav nav-tabs" id="myTab" role="tablist">


													<li class="nav-item"><a class="nav-link active"
														id="all-tab" data-toggle="tab" href="#all" role="tab"
														aria-controls="all" aria-selected="true">Tất cả</a></li>
													<!-- <li class="nav-item"><a class="nav-link"
												id="waitcofirm-tab" data-toggle="tab" href="#waitcofirm"
												role="tab" aria-controls="waitcofirm" aria-selected="false">Chờ
													xác nhận</a></li>
											<li class="nav-item"><a class="nav-link"
												id="waittaking-tab" data-toggle="tab" href="#waittaking"
												role="tab" aria-controls="waittaking" aria-selected="false">Chờ
													lấy hàng</a></li>
											<li class="nav-item"><a class="nav-link"
												id="shipping-tab" data-toggle="tab" href="#shipping"
												role="tab" aria-controls="shipping" aria-selected="false">Đang
													đi giao</a></li>
											<li class="nav-item"><a class="nav-link"
												id="complete-tab" data-toggle="tab" href="#complete"
												role="tab" aria-controls="complete" aria-selected="false">Đã
													giao</a></li>
											<li class="nav-item"><a class="nav-link"
												href="./admin-cancel">Đã
													hủy</a></li>
 											<li class="nav-item"><a class="nav-link"
												href="./admin-return">Trả
													hàng & Hoàn tiền</a></li> -->

												</ul>

												<div class="tab-content" id="myTabContent">


													<div class="tab-pane fade show active" id="all"
														role="tabpanel" aria-labelledby="all-tab">
														<!-- tất cả đơn hàng -->
														<div class="container-fluid">
															<div class="gap-sm"></div>
															<div class="row">
																<!-- <div class="col-lg-3 col-md-3 col-sm-5 col-5">
																	<div class="input-group mb-3">
																		<input type="text" class="form-control"
																			placeholder="Tìm mã đơn hàng..."
																			aria-label="Recipient's username"
																			aria-describedby="basic-addon2">
																		<div class="input-group-append">
																			<span class="input-group-text" id="basic-addon"><i
																				class="fa fa-search" aria-hidden="true"></i> </span>
																		</div>
																	</div>
																</div> -->
																<div class="col-lg-1 col-md-1 "></div>
																<div class="col-lg-7 col-md-7 col-sm-12 col-12">
																	<!-- 								<div class="container-fluid">
																		<div class="row">
																			<div class="col-lg-2 col-md-2">
																				<p style="margin-top: 10px;">Ngày đặt hàng</p>
																			</div>
																			<div class="col-lg-3 col-md-3col-sm-6 col-6">
																				<div class="form-group row">
																					<div class="col-12">
																						<input class="form-control" type="datetime-local"
																							value="2011-08-19T13:45:00">
																					</div>
																				</div>
																			</div>
																			<div class="col-lg-1 col-md-1">
																				<i class="fa fa-arrow-right" aria-hidden="true"
																					style="margin-left: 20px; margin-top: 15px;"></i>
																			</div>
																			<div class="col-lg-3 col-md-3 col-sm-6 col-6">
																				<div class="form-group row">
																					<div class="col-12">
																						<input class="form-control" type="datetime-local"
																							value="2011-08-19T13:45:00">
																					</div>
																				</div>
																			</div>
																			<div class="col-lg-3 col-md-3">
																				<button class="btn btn-primary">
																					<i class="fa fa-print" aria-hidden="true"
																						style="color: white !important;"></i> In hóa đơn
																				</button>
																			</div>

																		</div>
																	</div> -->


																</div>
																<div class="col-lg-1 col-md-1 "></div>
															</div>
															<div class="gap-xs"></div>
															<div class="row">
																<h3 style="color: black;">Đơn hàng</h3>
															</div>
															<div class="gap-xs"></div>
															<div class="row">
																<div class="col-12">
																	<section class="section">
																		<div class="card">
																			<!-- all product-tab -->
																			<div class="card-body">
																				<table class="table table-bordered">
																					<thead>
																						<tr class="text-center">
																							<th>Mã hoá đơn</th>
																							<th>Tổng tiền</th>
																							<th>Ngày mua</th>
																							<th>Khách Hàng</th>
																							<th>Địa Chỉ</th>
																							<th>SĐT</th>
																							<th>Ghi Chú</th>
																							<th>Chi tiết</th>
																							<th>Trạng Thái</th>

																						</tr>
																					</thead>
																					<tbody>
																						<th:block th:each="o : ${donhangs.pageList}" th:if="${o.trangthai==-1 || o.trangthai==2}">
																							<tr>
																								<th th:text="${o.IDDH}"></th>
																								<th
																									th:text="${#numbers.formatDecimal(o.tongGia.longValue(), 3,'COMMA', 0, 'DEFAULT')}+ ' VNĐ'"></th>
																								<th
																									th:text="${#dates.format(o.ngayLap, 'dd-MM-yyyy')}"></th>
																								<th th:text="${o.tenKH}"></th>
																								<th th:text="${o.diaChi}"></th>
																								<th th:text="${o.sdt}"></th>
																								<th th:text="${o.ghiChu}"></th>
																								<th><a
																									th:href="@{'/admin/admin-order/details?IDDH='+${o.IDDH}}"><span
																										class="fa fa-info-circle">Chi tiết</span></a></th>
																								<td class="text-center">
																									<div th:if="${o.trangthai==-1}">
																									<span class="badge bg-success">Đã nhận hàng</span>
																									</div>	
																									<div th:if="${o.trangthai==2}">
																										<span class="badge badge-dark">Đã huỷ</span> 
																									</div>										
																								</td>
																							</tr>
																						</th:block>
																						<th:block th:each="o : ${donhangs.pageList}" th:unless="${o.trangthai==-1 || o.trangthai==2}">
																							<tr>
																								<th th:text="${o.IDDH}"></th>
																								<th
																									th:text="${#numbers.formatDecimal(o.tongGia.longValue(), 3,'COMMA', 0, 'DEFAULT')}+ ' VNĐ'"></th>
																								<th
																									th:text="${#dates.format(o.ngayLap, 'dd-MM-yyyy')}"></th>
																								<th th:text="${o.tenKH}"></th>
																								<th th:text="${o.diaChi}"></th>
																								<th th:text="${o.sdt}"></th>
																								<th th:text="${o.ghiChu}"></th>
																								<th><a
																									th:href="@{'/admin/admin-order/details?IDDH='+${o.IDDH}}"><span
																										class="fa fa-info-circle">Chi tiết</span></a></th>
																								<td class="text-center">
																									<div th:if="${o.trangthai==0}">
																										<a th:href="@{'/admin/admin-order/xacnhan?IDDH='+${o.IDDH}}" >
																										<button type="button"
																											class="btn btn-outline-success btn-sm">
																										<i class="fa fa-check-circle"></i>
																										</button>
																									</a>  
																									</div>
																									<div th:if="${o.trangthai==1}">
																										<a th:href="@{'/admin/admin-order/thanhtoan?IDDH='+${o.IDDH}}" >
																										<span class="badge badge-primary ">Đã xác nhận</span>
																									</a>
																									</div>
													
																									<div th:if="${o.trangthai==3}">
																										<a th:href="@{'/admin/admin-order/thanhtoan?IDDH='+${o.IDDH}}" >
																										<span class="badge badge-primary ">Đã thanh toán</span>
																									</a>
																									</div>
																								</td>
																								<td class="text-center">
																										<a th:href="@{'/admin/admin-order/huydon?IDDH='+${o.IDDH}}" >
																										<button type="button"
																											class="btn btn-outline-success btn-sm">
																										<span>Huỷ Đơn</span>
																										</button>
																									</a>										
																								</td>
																							</tr>
																						</th:block>
																					</tbody>
																				</table>
																				<div>
																					<ul class="pagination">
																						<li
																							th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'">
																							<a class="page-link"
																							th:href="@{/admin/admin-order}">First</a>
																						</li>
																						<li
																							th:class="${currentIndex == 1}? 'page-item disabled': 'page-item' ">
																							<a class="page-link" aria-label="Previous"
																							th:href="@{|${baseUrl}${currentIndex - 1}|}"
																							title='Go to previous page'><span
																								aria-hidden="true">«</span> <span
																								class="sr-only">Previous</span></a>
																						</li>
																						<li
																							th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
																							th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
																							<a class="page-link"
																							th:href="@{|${baseUrl}${item}|}"> <span
																								th:text='${item}'>1</span>
																						</a>
																						</li>
																						<li
																							th:class="${currentIndex == totalPageCount}? 'page-item disabled': 'page-item'">
																							<a class="page-link" aria-label="Next"
																							th:href="@{|${baseUrl}${currentIndex + 1}|}"
																							title='Go to next page'><span
																								aria-hidden="true">»</span> <span
																								class="sr-only">Next</span></a>
																						</li>
																						<li
																							th:class="${currentIndex == totalPageCount}? 'page-item disabled':'page-item'">
																							<a class="page-link"
																							th:href="@{|${baseUrl}${totalPageCount}|}">Last</a>
																						</li>
																					</ul>
																				</div>
																			</div>
																		</div>
																	</section>
																</div>
															</div>
														</div>
													</div>
													<!-- <div class="tab-pane fade" id="waitcofirm" role="tabpanel"
												aria-labelledby="waitcofirm-tab">
												Chờ xác nhận
												<div class="container-fluid">
													<div class="gap-sm"></div>
													<div class="row">
														<div class="col-lg-3 col-md-3 col-sm-5 col-5">
															<div class="input-group mb-3">
																<input type="text" class="form-control"
																	placeholder="Tìm mã đơn hàng..."
																	aria-label="Recipient's username"
																	aria-describedby="basic-addon2">
																<div class="input-group-append">
																	<span class="input-group-text"><i
																		class="fa fa-search" aria-hidden="true"></i></span>
																</div>
															</div>
														</div>
														<div class="col-lg-1 col-md-1 "></div>
														<div class="col-lg-7 col-md-7 col-sm-12 col-12">
															<div class="container-fluid">
																<div class="row">
																	<div class="col-lg-2 col-md-2">
																		<p style="margin-top: 10px;">Ngày đặt hàng</p>
																	</div>
																	<div class="col-lg-3 col-md-3col-sm-6 col-6">
																		<div class="form-group row">
																			<div class="col-12">
																				<input class="form-control" type="datetime-local"
																					value="2011-08-19T13:45:00">
																			</div>
																		</div>
																	</div>
																	<div class="col-lg-1 col-md-1">
																		<i class="fa fa-arrow-right" aria-hidden="true"
																			style="margin-left: 20px; margin-top: 15px;"></i>
																	</div>
																	<div class="col-lg-3 col-md-3 col-sm-6 col-6">
																		<div class="form-group row">
																			<div class="col-12">
																				<input class="form-control" type="datetime-local"
																					value="2011-08-19T13:45:00">
																			</div>
																		</div>
																	</div>
																	<div class="col-lg-3 col-md-3">
																		<button class="btn btn-primary">
																			<i class="fa fa-print" aria-hidden="true"
																				style="color: white !important;"></i> In hóa đơn
																		</button>
																	</div>

																</div>
															</div>


														</div>
														<div class="col-lg-1 col-md-1 "></div>
													</div>
													<div class="gap-xs"></div>
													<div class="row">
														<h3 style="color: black;">Đơn hàng</h3>
													</div>
													<div class="gap-xs"></div>
													<div class="row">
														<div class="col-12">
															<section class="section">
																<div class="card">
																	all product-tab
																	<div class="card-body">
																		<table class='table table-striped'>
																			<thead>
																				<tr>
																					<th>Mã đơn hàng</th>
																					<th>Địa chỉ nhận hàng</th>
																					<th>Tổng tiền</th>
																					<th>Ngày đặt hàng</th>
																					<th>Ngày nhận hàng</th>
																					<th>Ghi chú</th>
																					<th>Trạng thái</th>

																				</tr>
																			</thead>
																			<tbody>
																				<c:if test="${not empty transaction}">
																					<c:forEach items="${transaction.getList()}" var="t">
																						<c:if test="${t.getStatus()==0}">
																							<tr>
																								<td><a
																									href="./api-order-detail?id=${t.getId()}">${t.getId()}
																								</a></td>
																								<td>${t.getUser_address()}</td>
																								<td>${t.getAmount()}</td>
																								<td>${t.getShipping_date()}</td>
																								<td>${t.getDelivery_date()}</td>
																								<td>${t.getMessage()}</td>
																								<td><span class="badge bg-warning">Chờ
																										xác nhận</span></td>
																								<td><a
																									href="./api-order-detail?id=${t.getId()}"><button
																											type="button"
																											class="btn btn-outline-primary btn-sm">
																											<i class="ti-printer"></i>
																										</button></a></td>

																								<td><a
																									href="./admin-order-edit?id=${t.getId()}"><button
																											type="button"
																											class="btn btn-outline-success btn-sm">
																											<i class="ti-folder"></i>
																										</button></a></td>

																								<%-- <td><a  href="./admin-order-delete?action=xoa&id=${t.getId()}"><button type="button"
																											class="btn btn-outline-danger btn-sm">
																											<i class="ti-trash"></i>
																										</button></a></td> --%>
																							</tr>
																						</c:if>
																					
																					</c:forEach>
																				</c:if>
																			</tbody>
																		</table>
																	</div>
																</div>

															</section>
														</div>
													</div>
												</div>
											</div>

											<div class="tab-pane fade" id="waittaking" role="tabpanel"
												aria-labelledby="waittaking-tab">
												 Chờ lấy hàng
												<div class="container-fluid">
													<div class="gap-sm"></div>
													<div class="row">
														<div class="col-lg-3 col-md-3 col-sm-5 col-5">
															<div class="input-group mb-3">
																<input type="text" class="form-control"
																	placeholder="Tìm mã đơn hàng..."
																	aria-label="Recipient's username"
																	aria-describedby="basic-addon2">
																<div class="input-group-append">
																	<span class="input-group-text"><i
																		class="fa fa-search" aria-hidden="true"></i></span>
																</div>
															</div>
														</div>
														<div class="col-lg-1 col-md-1 "></div>
														<div class="col-lg-7 col-md-7 col-sm-12 col-12">
															<div class="container-fluid">
																<div class="row">
																	<div class="col-lg-2 col-md-2">
																		<p style="margin-top: 10px;">Ngày đặt hàng</p>
																	</div>
																	<div class="col-lg-3 col-md-3col-sm-6 col-6">
																		<div class="form-group row">
																			<div class="col-12">
																				<input class="form-control" type="datetime-local"
																					value="2011-08-19T13:45:00">
																			</div>
																		</div>
																	</div>
																	<div class="col-lg-1 col-md-1">
																		<i class="fa fa-arrow-right" aria-hidden="true"
																			style="margin-left: 20px; margin-top: 15px;"></i>
																	</div>
																	<div class="col-lg-3 col-md-3 col-sm-6 col-6">
																		<div class="form-group row">
																			<div class="col-12">
																				<input class="form-control" type="datetime-local"
																					value="2011-08-19T13:45:00">
																			</div>
																		</div>
																	</div>
																	<div class="col-lg-3 col-md-3">
																		<button class="btn btn-primary">
																			<i class="fa fa-print" aria-hidden="true"
																				style="color: white !important;"></i> In hóa đơn
																		</button>
																	</div>

																</div>
															</div>


														</div>
														<div class="col-lg-1 col-md-1 "></div>
													</div>
													<div class="gap-xs"></div>
													<div class="row">
														<h3 style="color: black;">Đơn hàng</h3>
													</div>
													<div class="gap-xs"></div>
													<div class="row">
														<div class="col-12">
															<section class="section">
																<div class="card">
																	all product-tab
																	<div class="card-body">
																		<table class='table table-striped'>
																			<thead>
																				<tr>
																					<th>Mã đơn hàng</th>
																					<th>Địa chỉ nhận hàng</th>
																					<th>Tổng tiền</th>
																					<th>Ngày đặt hàng</th>
																					<th>Ngày nhận hàng</th>
																					<th>Ghi chú</th>
																					<th>Trạng thái</th>

																				</tr>
																			</thead>
																			<tbody>
																				<c:if test="${not empty transaction}">
																					<c:forEach items="${transaction.getList()}" var="t">
																						<c:if test="${t.getStatus()==1}">
																							<tr>
																								<td><a
																									href="./api-order-detail?id=${t.getId()}">${t.getId()}
																								</a></td>
																								<td>${t.getUser_address()}</td>
																								<td>${t.getAmount()}</td>
																								<td>${t.getShipping_date()}</td>
																								<td>${t.getDelivery_date()}</td>
																								<td>${t.getMessage()}</td>
																								<td><span class="badge bg-secondary">Chờ
																										lấy hàng</span></td>
																								<td><a
																									href="./api-order-detail?id=${t.getId()}"><button
																											type="button"
																											class="btn btn-outline-primary btn-sm">
																											<i class="ti-printer"></i>
																										</button></a></td>

																								<td><a
																									href="./admin-order-edit?id=${t.getId()}"><button
																											type="button"
																											class="btn btn-outline-success btn-sm">
																											<i class="ti-folder"></i>
																										</button></a></td>

																								<%-- <td><a  href="./admin-order-delete?action=xoa&id=${t.getId()}"><button type="button"
																											class="btn btn-outline-danger btn-sm">
																											<i class="ti-trash"></i>
																										</button></a></td> --%>
																							</tr>
																						</c:if>
																					</c:forEach>
																				</c:if>
																			</tbody>
																		</table>
																	</div>
																</div>

															</section>
														</div>
													</div>
												</div>
											</div>

											<div class="tab-pane fade" id="shipping" role="tabpanel"
												aria-labelledby="shipping-tab">
												Đang giao
												<div class="container-fluid">
													<div class="gap-sm"></div>
													<div class="row">
														<div class="col-lg-3 col-md-3 col-sm-5 col-5">
															<div class="input-group mb-3">
																<input type="text" class="form-control"
																	placeholder="Tìm mã đơn hàng..."
																	aria-label="Recipient's username"
																	aria-describedby="basic-addon2">
																<div class="input-group-append">
																	<span class="input-group-text"><i
																		class="fa fa-search" aria-hidden="true"></i></span>
																</div>
															</div>
														</div>
														<div class="col-lg-1 col-md-1 "></div>
														<div class="col-lg-7 col-md-7 col-sm-12 col-12">
															<div class="container-fluid">
																<div class="row">
																	<div class="col-lg-2 col-md-2">
																		<p style="margin-top: 10px;">Ngày đặt hàng</p>
																	</div>
																	<div class="col-lg-3 col-md-3col-sm-6 col-6">
																		<div class="form-group row">
																			<div class="col-12">
																				<input class="form-control" type="datetime-local"
																					value="2011-08-19T13:45:00">
																			</div>
																		</div>
																	</div>
																	<div class="col-lg-1 col-md-1">
																		<i class="fa fa-arrow-right" aria-hidden="true"
																			style="margin-left: 20px; margin-top: 15px;"></i>
																	</div>
																	<div class="col-lg-3 col-md-3 col-sm-6 col-6">
																		<div class="form-group row">
																			<div class="col-12">
																				<input class="form-control" type="datetime-local"
																					value="2011-08-19T13:45:00">
																			</div>
																		</div>
																	</div>
																	<div class="col-lg-3 col-md-3">
																		<button class="btn btn-primary">
																			<i class="fa fa-print" aria-hidden="true"
																				style="color: white !important;"></i> In hóa đơn
																		</button>
																	</div>

																</div>
															</div>


														</div>
														<div class="col-lg-1 col-md-1 "></div>
													</div>
													<div class="gap-xs"></div>
													<div class="row">
														<h3 style="color: black;">Đơn hàng</h3>
													</div>
													<div class="gap-xs"></div>
													<div class="row">
														<div class="col-12">
															<section class="section">
																<div class="card">
																	all product-tab
																	<div class="card-body">
																		<table class='table table-striped'>
																			<thead>
																				<tr>
																					<th>Mã đơn hàng</th>
																					<th>Địa chỉ nhận hàng</th>
																					<th>Tổng tiền</th>
																					<th>Ngày đặt hàng</th>
																					<th>Ngày nhận hàng</th>
																					<th>Ghi chú</th>
																					<th>Trạng thái</th>

																				</tr>
																			</thead>
																			<tbody>
																				<c:if test="${not empty transaction}">
																					<c:forEach items="${transaction.getList()}" var="t">
																						<c:if test="${t.getStatus()==2}">
																							<tr>
																								<td><a
																									href="./api-order-detail?id=${t.getId()}">${t.getId()}
																								</a></td>
																								<td>${t.getUser_address()}</td>
																								<td>${t.getAmount()}</td>
																								<td>${t.getShipping_date()}</td>
																								<td>${t.getDelivery_date()}</td>
																								<td>${t.getMessage()}</td>
																								<td><span class="badge bg-info">Đang
																										đi giao</span></td>
																								<td><a
																									href="./api-order-detail?id=${t.getId()}"><button
																											type="button"
																											class="btn btn-outline-primary btn-sm">
																											<i class="ti-printer"></i>
																										</button></a></td>

																								<td><a
																									href="./admin-order-edit?id=${t.getId()}"><button
																											type="button"
																											class="btn btn-outline-success btn-sm">
																											<i class="ti-folder"></i>
																										</button></a></td>

																								<%-- <td><a  href="./admin-order-delete?action=xoa&id=${t.getId()}"><button type="button"
																											class="btn btn-outline-danger btn-sm">
																											<i class="ti-trash"></i>
																										</button></a></td> --%>
																							</tr>
																						</c:if>
																					</c:forEach>
																				</c:if>
																			</tbody>
																		</table>
																	</div>
																</div>
															</section>
														</div>
													</div>
												</div>
											</div>

											<div class="tab-pane fade" id="complete" role="tabpanel"
												aria-labelledby="complete-tab">
												Đã giao
												<div class="container-fluid">
													<div class="gap-sm"></div>
													<div class="row">
														<div class="col-lg-3 col-md-3 col-sm-5 col-5">
															<div class="input-group mb-3">
																<input type="text" class="form-control"
																	placeholder="Tìm mã đơn hàng..."
																	aria-label="Recipient's username"
																	aria-describedby="basic-addon2">
																<div class="input-group-append">
																	<span class="input-group-text"><i
																		class="fa fa-search" aria-hidden="true"></i></span>
																</div>
															</div>
														</div>
														<div class="col-lg-1 col-md-1 "></div>
														<div class="col-lg-7 col-md-7 col-sm-12 col-12">
															<div class="container-fluid">
																<div class="row">
																	<div class="col-lg-2 col-md-2">
																		<p style="margin-top: 10px;">Ngày đặt hàng</p>
																	</div>
																	<div class="col-lg-3 col-md-3col-sm-6 col-6">
																		<div class="form-group row">
																			<div class="col-12">
																				<input class="form-control" type="datetime-local"
																					value="2011-08-19T13:45:00">
																			</div>
																		</div>
																	</div>
																	<div class="col-lg-1 col-md-1">
																		<i class="fa fa-arrow-right" aria-hidden="true"
																			style="margin-left: 20px; margin-top: 15px;"></i>
																	</div>
																	<div class="col-lg-3 col-md-3 col-sm-6 col-6">
																		<div class="form-group row">
																			<div class="col-12">
																				<input class="form-control" type="datetime-local"
																					value="2011-08-19T13:45:00">
																			</div>
																		</div>
																	</div>
																	<div class="col-lg-3 col-md-3">
																		<button class="btn btn-primary">
																			<i class="fa fa-print" aria-hidden="true"
																				style="color: white !important;"></i> In hóa đơn
																		</button>
																	</div>

																</div>
															</div>


														</div>
														<div class="col-lg-1 col-md-1 "></div>
													</div>
													<div class="gap-xs"></div>
													<div class="row">
														<h3 style="color: black;">Đơn hàng</h3>
													</div>
													<div class="gap-xs"></div>
													<div class="row">
														<div class="col-12">
															<section class="section">
																<div class="card">
																	all product-tab
																	<div class="card-body">
																		<table class='table table-striped'>
																			<thead>
																				<tr>
																					<th>Mã đơn hàng</th>
																					<th>Địa chỉ nhận hàng</th>
																					<th>Tổng tiền</th>
																					<th>Ngày đặt hàng</th>
																					<th>Ngày nhận hàng</th>
																					<th>Ghi chú</th>
																					<th>Trạng thái</th>

																				</tr>
																			</thead>
																			<tbody>
																				<c:if test="${not empty transaction}">
																					<c:forEach items="${transaction.getList()}" var="t">
																						<c:if test="${t.getStatus()==3}">
																							<tr>
																								<td><a
																									href="./api-order-detail?id=${t.getId()}">${t.getId()}
																								</a></td>
																								<td>${t.getUser_address()}</td>
																								<td>${t.getAmount()}</td>
																								<td>${t.getShipping_date()}</td>
																								<td>${t.getDelivery_date()}</td>
																								<td>${t.getMessage()}</td>
																								<td><span class="badge bg-success">Đã
																										giao hàng</span></td>
																								<td><a
																									href="./api-order-detail?id=${t.getId()}"><button
																											type="button"
																											class="btn btn-outline-primary btn-sm">
																											<i class="ti-printer"></i>
																										</button></a></td>

																								<td><a
																									href="./admin-order-edit?id=${t.getId()}"><button
																											type="button"
																											class="btn btn-outline-success btn-sm">
																											<i class="ti-folder"></i>
																										</button></a></td>

																								<td><a href="./admin-order-delete?action=xoa&id=${t.getId()}"><button type="button"
																											class="btn btn-outline-danger btn-sm">
																											<i class="ti-trash"></i>
																										</button></a></td>
																							</tr>
																						</c:if>
																						
																					</c:forEach>
																				</c:if>
																			</tbody>
																		</table>
																	</div>
																</div>
															</section> -->
													<!-- </div>
													</div> -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
	</form>

	</div>
	</div>
	<div th:replace="common/admin/fragment::script"></div>

</body>

</html>